*{
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
#app{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.main{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.list{
    display: flex;
    column-gap: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: #161617;
    color: white;
    border: 1px solid gray;
    cursor: pointer;
}
.index-song{
    color: #A9A9A9;
}
.list:hover {
    background-color: #161617;
}
.footer{
    width: 100%;
    bottom: 0;
    position: fixed;
}
.player{
    width: 100%;
    background-color: #2B2B2B;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}
.btn-content{
    display: grid;
    place-content: center;
    gap: 1rem;
    flex: 1;
}
.btn-reproductor{
    display: flex;
    justify-content: center;
    column-gap: 2rem;
}
.btn-player{
    background-color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 50px;
}

.btn-prev{
    border-radius: 50px;
    border: none;
    background-color: #2B2B2B;
    color: white;
}
.btn-next{
    border-radius: 50px;
    border: none;
    background-color: #2B2B2B;
    color: white;
}
.active{
    background-color: #504F4F !important;
}